---
import Experience from '../components/Experience.astro';
import Introduction from '../components/Introduction.astro';
import Home from '../components/Home.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Portfolio Juan Manuel - Web Developer & Programmer">
	<main>
		<Introduction />
		<Home />
		<section id="experience" class="w-full mx-auto lg:w-[1100px] pt-20 px-4">
			<h1 class="text-5xl flex flex-row pb-5 text-right">Experience</h1>
			<Experience/>
		</section>
		<section id="projects" class="w-full mx-auto lg:w-[1100px] pt-20 px-4">
			<h1 class="text-5xl flex flex-row pb-5 text-right">Projects</h1>
			<Projects/>
		</section>
		<section id="contact" class="w-full mx-auto lg:w-[1100px] pt-20 px-4">
			<h1 class="text-5xl flex flex-row pb-5 mb-10 text-right">Contact</h1>
			
			<div class="flex flex-col lg:flex-row justify-between items-center">
				<a class="flex-1 max-w-[300px] min-w-[300px] p-6 bg-[#141314] border-2 border-[#F21341] w-30% rounded-md mx-2 mb-4 lg:mb-0">
					<div class="h-full">
						<h2 class="text-xl font-bold">Email</h2>
						<p class="font-normal text-[#F21341]">camachosanchezjm@gmail.com</p>
					</div>
				</a>
			
				<a href="https://www.linkedin.com/in/jmcamacho7/" class="flex-1 max-w-[300px] min-w-[300px] p-6 bg-[#141314] border-2 border-[#F21341] rounded-md mx-2">
					<div class="h-full">
						<h2 class="text-xl font-bold">Linkedin</h2>
						<p class="font-normal text-[#F21341]">jmcamacho7</p>
					</div>
				</a>
			</div>
			
		</section>		
		<Footer />
	</main>
</Layout>

<style>
	h1 {
		font-family: "VirtualBoy", sans-serif;
		color: #f21341;
		border-bottom: 2px solid #f21341;
	}
	h2 {
		color: #f21341;
  		font-family: "Work Sans", sans-serif;
	}
	.icon {
        margin: 0 10px;
        height: 75px;
        width: 75px;
        filter: invert(13%) sepia(90%) saturate(5870%) hue-rotate(342deg) brightness(99%) contrast(91%);
    }
</style>
