---
import Experience from '../components/Experience.astro';
import Introduction from '../components/Introduction.astro';
import Home from '../components/Home.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Portfolio Juan Manuel - Web Developer & Programmer">
	<main>
		<Introduction />
		<Home />
		<section id="experience" class="w-full mx-auto lg:w-[1400px] pt-20 px-4">
			<h1 class="text-5xl flex flex-row pb-5 text-right">Experience</h1>
			<Experience/>
		</section>
		<section id="projects" class="w-full mx-auto lg:w-[1400px] pt-20 px-4">
			<h1 class="text-5xl flex flex-row pb-5 text-right">Projects</h1>
			<Projects/>
		</section>
		<section id="contact" class="w-full mx-auto lg:w-[1400px] pt-20 px-4">
			<h1 class="text-5xl flex flex-row pb-5 text-right">Contact</h1>
			<h2 class="text-xl pt-5">
				<b>Email:</b> camachosanchezjm@gmail.com
			</h2>
			<h2 class="text-xl pt-5">
				<b>Linkedin:</b> <a href="https://www.linkedin.com/in/jmcamacho7/">jmcamacho7</a>
			</h2>
		</section>
		<Footer />
	</main>
</Layout>

<style>
	h1 {
		font-family: "VirtualBoy", sans-serif;
		color: #f21341;
		border-bottom: 2px solid #f21341;
	}
	h2 {
		color: #f21341;
  		font-family: "Work Sans", sans-serif;
	}
</style>
