---
import ExperienceItem from "./ExperienceItem.astro"

const experience = [
    {
        date: 'December 2022 - March 2024',
        title: 'Full Stack Developer',
        place: 'Be Beyond',
        description: 'Started as a PHP & WordPress Developer intern, gaining experience in building and managing WordPress sites with Plesk and earning a PHP development certificate. Progressed to a Full Stack Developer role, specializing in full-stack projects using PHP with Symfony for backend and API integration. Skilled in developing intuitive UIs with Angular and Ionic, and implementing automated testing strategies with Selenium for quality assurance. Further enhanced skills in Java and PostgreSQL, focusing on maximizing efficiency throughout all stages of development'.
    }

    {
        date: 'March 2024 - Current',
        title: 'Junior Software Engineer',
        place: 'Selectra',
        description: 'Specializing in monolithic projects with Ruby on Rails, I've focused on robust backend development integrated with PostgreSQL, emphasizing efficiency across all development stages through meticulous maintenance. I also have extensive experience working with APIs, enhancing system connectivity and functionality. Recently, I developed a standalone application using Angular v18, where I prioritized creating an intuitive and responsive UI, showcasing my front-end expertise alongside backend capabilities.'
    }
]
---

<ol class="relative border-s">                  
    {
        experience.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {... experience}/>
            </li>
        ))
    }
</ol>

<style>
    ol {
        border-color: #f21341;
    }
</style>