<footer>
    <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col items-center justify-center md:flex-row md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 mb-2 md:mb-0">© 2024 <a href="#" class="hover:underline">Juanma™</a>. All Rights (not) Reserved.</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
            <li>
                <a href="#home" class="hover:underline me-4 md:me-6 text-black">Home</a>
            </li>
            <li>
                <a href="#experience" class="hover:underline me-4 md:me-6 text-black">Experience</a>
            </li>
            <li>
                <a href="#projects" class="hover:underline me-4 md:me-6 text-black">Projects</a>
            </li>
            <li>
                <a href="#contact" class="hover:underline text-black">Contact</a>
            </li>
        </ul>
    </div>
</footer>


<style>
    footer {
        background: black;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        margin-top: 100px;
        border-top: 5px solid #3d0206;
    }

    a {
        font-size: 1.4em;
        font-family: "VirtualBoy", sans-serif;
        line-height: 1.2;
        color: #f21341;
    }

    span {
        color: #f21341;
    }

    span{
        font-family: "Work Sans", sans-serif;
    }
</style>